<menu>

    <menuitem label="Aluno">
        <icon>fas:graduation-cap fa-fw</icon>
        <menu>
        <menuitem label="Atendimento e-Ticket">
            <action>TicketFormListAluno</action>
            <icon>fas:headset fa-fw</icon>
        </menuitem>
        <menuitem label="Boletim">
            <action>BoletimNovoList</action>
            <icon>fas:calculator fa-fw</icon>
        </menuitem>
        <menuitem label="Cadastro Wi-Fi">
            <action>WifiCadastroFormList</action>
            <icon>fas:wifi fa-fw</icon>
        </menuitem>
        <menuitem label="Carteirinha Escolar">
            <action>CarteiraAluno</action>
            <icon>far:id-card fa-fw</icon>
        </menuitem>
        <menuitem label="Carteirinha Veículos">
            <action>CadastroVeiculoList</action>
            <icon>fas:car-alt fa-fw</icon>
        </menuitem>
        <menuitem label="Contrato Financeiro">
            <action>ContratoDadosAlunoList</action>
            <icon>fas:file-invoice-dollar fa-fw</icon>
        </menuitem>
        <menuitem label="Atividade Complementar">
            <action>AtividadeComplementarAlunoFormList</action>
            <icon>fas:clipboard-list fa-fw</icon>
        </menuitem>
        <menuitem label="Estágio">
            <action>EstagioAlunoFormList</action>
            <icon>fas:briefcase fa-fw</icon>
        </menuitem>
        <menuitem label="Meu Cadastro">
            <action>DadosCadastraisView</action>
            <icon>far:address-card fa-fw</icon>
        </menuitem>
        <menuitem label="Meu Curso">
            <action>MeuCursoViewAluno</action>
            <icon>fas:book-reader fa-fw</icon>
        </menuitem>
        <menuitem label="Minhas Disciplinas">
            <action>AtividadeAlunoDisciplinasList</action>
            <icon>fas:book fa-fw</icon>
        </menuitem>
        <menuitem label="NAP">
            <icon>fas:hand-holding-heart fa-fw</icon>
            <action>AtendimentoPsicopedagogicoDatasList</action>
        </menuitem>
        <menuitem label="Requerimento Bolsa">
            <icon>fas:file-alt fa-fw</icon>
            <menu>
            <menuitem label="Edital Renovação Ens. Superior 2023">
                <action>EditalBolsaPDFView</action>
                <icon>fas:file-pdf fa-fw</icon>
            </menuitem>
            <menuitem label="Novo">
                <action>ReqBolsaAlunoDialogQuestionView</action>
                <icon>fas:plus-circle fa-fw</icon>
            </menuitem>
            <menuitem label="Realizados">
                <action>ReqBolsaAlunoList</action>
                <icon>fas:history fa-fw</icon>
            </menuitem>
            <menuitem label="Tutorial">
                <icon>fas:book-open fa-fw</icon>
                <menu>
                <menuitem label="PDF">
                    <action>TutorialRequerimentoConnextPDFView</action>
                    <icon>fas:file-pdf fa-fw</icon>
                </menuitem>
                <menuitem label="Vídeo">
                    <action>TutorialRequerimento</action>
                    <icon>fas:video fa-fw</icon>
                </menuitem>
                </menu>
            </menuitem>
            </menu>
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Professor">
        <icon>fas:chalkboard-teacher fa-fw</icon>
        <menu>
        <menuitem label="Atendimento e-Ticket">
            <icon>fas:headset fa-fw</icon>
            <menu>
            <menuitem label="Novo e-Ticket">
                <action>TicketFormListProf</action>
                <icon>fas:plus-circle fa-fw</icon>
            </menuitem>
            <menuitem label="Listar e-Tickets">
                <action>TicketListProf</action>
                <icon>fas:list-ul fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Cadastro Wi-Fi">
            <action>WifiCadastroFormListProfessor</action>
            <icon>fas:wifi fa-fw</icon>
        </menuitem>
        <menuitem label="Carteirinha Veículos">
            <action>CadastroVeiculoListProf</action>
            <icon>fas:car-alt fa-fw</icon>
        </menuitem>
        <menuitem label="Agendar Equipamento">
            <action>AgendamentoEquipamentoList</action>
            <icon>fas:laptop fa-fw</icon>
        </menuitem>
        <menuitem label="Plano de Ensino">
            <action>ProgramaEnsinoDisciplinaList</action>
            <icon>fas:book fa-fw</icon>
        </menuitem>
        <!-- <menuitem label="Diário Eletronico">
            <action>GerenciadorDisciplinaForm</action>
            <icon>fas:calendar-alt fa-fw</icon>
        </menuitem> -->
        <menuitem label="Diário de Classe">
            <action>HorarioAulasList</action>
            <icon>far:check-square fa-fw</icon>
        </menuitem>
        <menuitem label="Enviar Provas e Anexos">
            <action>AgendamentoProvaListProfessor</action>
            <icon>fas:paperclip fa-fw</icon>
        </menuitem>
        <menuitem label="Lançamento de Notas">
            <action>ApontamentoBimestral</action>
            <icon>fas:pen fa-fw</icon>
        </menuitem>
        <menuitem label="Meu Cadastro">
            <action>DadosCadastraisProfessorView</action>
            <icon>fas:address-card fa-fw</icon>
        </menuitem>
        <menuitem label="Meu Curso">
            <action>MeuCursoViewProfessor</action>
            <icon>fas:university fa-fw</icon>
        </menuitem>
        <menuitem label="Minhas Disciplinas">
            <action>AtividadeProfessorDisciplinasList</action>
            <icon>fas:graduation-cap fa-fw</icon>
        </menuitem>
        <menuitem label="Solicitação Marketing">
            <action>MarketingBriefingFormList</action>
            <icon>fas:camera fa-fw</icon>
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Secretaria">
        <icon>fas:university fa-fw</icon>
        <menu>
            <menuitem label="Gestão Acadêmica">
                <icon>fas:graduation-cap fa-fw</icon>
                <menu>
                    <menuitem label="Cadastros">
                        <icon>fas:address-book fa-fw</icon>
                        <menu>
                            <menuitem label="Alunos">
                                <action>CadastroAlunoList</action>
                                <icon>fas:user-graduate fa-fw</icon>
                            </menuitem>
                            <menuitem label="Professores">
                                <action>CadastroProfessorList</action>
                                <icon>fas:chalkboard-teacher fa-fw</icon>
                            </menuitem>
                            <menuitem label="Responsáveis">
                                <action>CadastroResponsavelList</action>
                                <icon>fas:user-friends fa-fw</icon>
                            </menuitem>
                        </menu>
                    </menuitem>
                    <menuitem label="Matrículas">
                        <action>MatriculaAlunoList</action>
                        <icon>fas:file-signature fa-fw</icon>
                    </menuitem>
                    
                    <menuitem label="Gerar Carteirinhas">
                        <action>CarteiraAlunoImpressaoList</action>
                        <icon>fas:id-card fa-fw</icon>
                    </menuitem>
                    <menuitem label="Turmas e Horários">
                        <icon>fas:school fa-fw</icon>
                        <menu>
                            <menuitem label="Cadastro de Turmas">
                                <action>TurmaList</action>
                                <icon>fas:users fa-fw</icon>
                            </menuitem>
                            <menuitem label="Horários das Turmas">
                                <action>HorarioTurmaList</action>
                                <icon>fas:clock fa-fw</icon>
                            </menuitem>
                            <menuitem label="Rodar Turmas">
                                <action>RodarTurmaForm</action>
                                <icon>fas:exchange-alt fa-fw</icon>
                            </menuitem>
                        </menu>
                    </menuitem>
                    <menuitem label="Parâmetros">
                        <icon>fas:sliders-h fa-fw</icon>
                        <menu>
                            <menuitem label="Prova Integrada">
                                <action>ParamprovaintegradaList</action>
                                <icon>fas:file-alt fa-fw</icon>
                            </menuitem>
                            <menuitem label="Núcleo Integrador">
                                <action></action>
                                <icon>fas:cubes fa-fw</icon>
                            </menuitem>
                            <menuitem label="Sistema de Avaliação">
                                <action>SistemaAvaliacaoList</action>
                                <icon>fas:clipboard-list fa-fw</icon>
                            </menuitem>
                            <menuitem label="Data Apontamentos Bimestrais">
                                <action>DataApontamentoBimestralList</action>
                                <icon>fas:calendar-alt fa-fw</icon>
                            </menuitem>
                        </menu>
                    </menuitem>
                </menu>
            </menuitem>
        <menuitem label="Atendimento">
            <icon>fas:headset fa-fw</icon>
            <menu>
            <menuitem label="Listagem Geral">
                <action>TicketList</action>
                <icon>fas:list-alt fa-fw</icon>
            </menuitem>
            <menuitem label="Meus Tickets">
                <action>TicketParticipanteList</action>
                <icon>fas:ticket-alt fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Carteirinha Veículos">
            <icon>fas:car-alt fa-fw</icon>
            <menu>
            <menuitem label="Cadastrar">
                <action>CadastroVeiculoListSecretaria</action>
                <icon>fas:plus-circle fa-fw</icon>
            </menuitem>
            <menuitem label="Análise">
                <action>CadastroVeiculoAnaliseList</action>
                <icon>fas:search fa-fw</icon>
            </menuitem>
            <menuitem label="Todos">
                <action>CadastroVeiculoListAll</action>
                <icon>fas:th-list fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Equipamentos">
            <icon>fas:laptop fa-fw</icon>
            <menu>
            <menuitem label="Agendamentos">
                <action>AgendamentoEquipamentoListSecretaria</action>
                <icon>far:calendar-check fa-fw</icon>
            </menuitem>
            <menuitem label="Cadastros">
                <action>AgendamentoEquipamentoItemFormList</action>
                <icon>fas:tools fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Atividade Complementar">
            <action>AtividadeComplementarSecretariaList</action>
            <icon>fas:clipboard-list fa-fw</icon>
        </menuitem>
        <menuitem label="Estágio">
            <action>EstagioSecretariaList</action>
            <icon>fas:briefcase fa-fw</icon> 
        </menuitem>
        <menuitem label="Equivalencia">
            <action>EquivalenciaListAll</action>
            <icon>fas:balance-scale fa-fw</icon>
        </menuitem>
        <menuitem label="Plano de Ensino">
            <action>ProgramaEnsinoDisciplinaListAll</action>
            <icon>fas:book fa-fw</icon> 
        </menuitem>
        <menuitem label="Conteúdo Programático">
            <action>ConteudoProgramaticoListAll</action>
            <icon>fas:file-text fa-fw</icon> 
        </menuitem>
        <menuitem label="Enviar Provas e Anexos">
            <action>AgendamentoProvaList</action>
            <icon>fas:paperclip fa-fw</icon> 
        </menuitem>
        <menuitem label="Enviar Email Turma">
            <action>EmailTurmaFormList</action>
            <icon>fas:envelope fa-fw</icon> 
        </menuitem>
        <menuitem label="Aviso Página Inicial">
            <action>NoticiasFormList</action>
            <icon>fas:bullhorn fa-fw</icon>
        </menuitem>
        <menuitem label="Meu Curso">
            <action>MeuCursoView</action>
            <icon>fas:graduation-cap fa-fw</icon> 
        </menuitem>
        <menuitem label="NAP">
            <icon>fas:hand-holding-heart fa-fw</icon> 
            <menu>
            <menuitem label="Cadastrar Datas">
                <action>AtendimentoPsicopedagogicoDatasFormList</action>
                <icon>fas:calendar-plus fa-fw</icon> 
            </menuitem>
            <menuitem label="Todos">
                <action>AtendimentoPsicopedagogicoDatasListAll</action>
                <icon>fas:users fa-fw</icon> 
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Secretaria Digital">
            <icon>fas:fingerprint fa-fw</icon>
            <menu>
            <menuitem label="Configurações">
                <icon>fas:cogs fa-fw</icon> 
                <menu>
                <menuitem label="Versões XSD">
                    <action>DiplomaVersaoFormList</action>
                    <icon>fas:code fa-fw</icon> 
                </menuitem>
                <menuitem label="Ativ. Compl">
                    <action>AtividadeComplementarCategoriaFormList</action>
                    <icon>fas:tags fa-fw</icon> 
                </menuitem>
                <menuitem label="Etiquetas">
                    <action>EtiquetaFormList</action>
                    <icon>fas:bookmark fa-fw</icon> 
                </menuitem>
                </menu>
            </menuitem>
            <menuitem label="Cadastros">
                <icon>fas:edit fa-fw</icon> 
                <menu>
                <menuitem label="Mantenedora">
                    <action>DiplomaMantenedoraFormList</action>
                    <icon>fas:building fa-fw</icon> 
                </menuitem>
                <menuitem label="Emissora">
                    <action>DiplomaEmissoraList</action>
                    <icon>fas:certificate fa-fw</icon> 
                </menuitem>
                <menuitem label="Curso">
                    <action>DiplomaCursoList</action>
                    <icon>fas:book fa-fw</icon> 
                </menuitem>
                <menuitem label="Aluno">
                    <action>DiplomaDiplomadoList</action>
                    <icon>fas:user-graduate fa-fw</icon> 
                </menuitem>
                </menu>
            </menuitem>
            <menuitem label="Currículos">
                <action>CurriculoList</action>
                <icon>fas:file-invoice fa-fw</icon> 
            </menuitem>
            <menuitem label="Históricos">
                <icon>fas:history fa-fw</icon> 
                <menu>
                <menuitem label="Automáticos">
                    <action>HistoricoAutomaticoList</action>
                    <icon>fas:robot fa-fw</icon>
                </menuitem>
                <menuitem label="Manuais">
                    <action>HistoricoManualList</action>
                    <icon>fas:user-edit fa-fw</icon> 
                </menuitem>
                <menuitem label="Conferência">
                    <action>DadoshistoricoalunoList</action>
                    <icon>fas:spell-check fa-fw</icon> 
                </menuitem>
                </menu>
            </menuitem>
            <menuitem label="Documentações">
                <action>DiplomaDocumentacaoList</action>
                <icon>fas:folder-open fa-fw</icon> 
            </menuitem>
            <menuitem label="Diplomas">
                <action>DiplomaRegistradoList</action>
                <icon>fas:award fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Solicitação Marketing">
            <action>MarketingBriefingFormList</action>
            <icon>fas:camera fa-fw</icon> 
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Administrativo">
        <icon>fas:building fa-fw</icon>
        <menu>
        <menuitem label="Atendimento E-Ticket">
            <icon>fas:headset fa-fw</icon>
            <menu>
            <menuitem label="Novo e-Ticket">
                <action>TicketList</action>
                <icon>fas:plus-circle fa-fw</icon>
            </menuitem>
            <menuitem label="Listar e-Ticket">
                <action>TicketParticipanteListAdm</action>
                <icon>fas:list-ul fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Requerimentos">
            <icon>fas:file-signature fa-fw</icon>
            <menu>
            <menuitem label="Matrícula Connext">
                <action>ReqMatriculaAlunoListConnext</action>
                <icon>fas:user-plus fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Marketing">
            <icon>fas:ad fa-fw</icon>
            <menu>
            <menuitem label="Listar Solicitações">
                <action>MarketingBriefingList</action>
                <icon>fas:list-alt fa-fw</icon> 
            </menuitem>
            <menuitem label="Avaliar Solicitações">
                <action>MarketingBriefingFormList_MKT</action>
                <icon>fas:check-double fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Assist. Social">
            <icon>fas:heart fa-fw</icon>
            <menu>
            <menuitem label="Req de Bolsa">
                <icon>fas:hand-holding-usd fa-fw</icon>
                <menu>
                <menuitem label="Analisar">
                    <action>ReqBolsaAlunoListGestor</action>
                    <icon>fas:search fa-fw</icon> 
                </menuitem>
                <menuitem label="Todos">
                    <action>ReqBolsaAlunoListAll</action>
                    <icon>fas:database fa-fw</icon> 
                </menuitem>
                <menuitem label="Configuração">
                    <icon>fas:cog fa-fw</icon> 
                    <menu>
                    <menuitem label="Período">
                        <action>ReqBolsaAlunoPeriodoFormList</action>
                        <icon>fas:calendar-alt fa-fw</icon> 
                    </menuitem>
                    <menuitem label="Analisar">
                        <action>ReqBolsaAlunoListAdmin</action>
                        <icon>fas:user-shield fa-fw</icon> 
                    </menuitem>
                    <menuitem label="Comunicado">
                        <action>ComunicadoBolsaFormList</action>
                        <icon>fas:bullhorn fa-fw</icon> 
                    </menuitem>
                    </menu>
                </menuitem>
                </menu>
            </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Contratos">
            <icon>fas:file-contract fa-fw</icon>
            <menu>
            <menuitem label="Cadastrar Valores">
                <action>ContratoFinanceiroFormList</action>
                <icon>fas:dollar-sign fa-fw</icon> 
            </menuitem>
            <menuitem label="Cadastrar Contratos">
                <action>ContratoFinanceiroAdm</action>
                <icon>fas:file-signature fa-fw</icon> 
            </menuitem>
            <menuitem label="Assinado pelo Aluno">
                <action>ContratoAlunoListSecretaria</action>
                <icon>fas:user-check fa-fw</icon> 
            </menuitem>
            <menuitem label="Digitalização">
                <action>ContratoAlunoListDigitalizacao</action>
                <icon>fas:print fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Diretores">
        <icon>fas:user-tie fa-fw</icon>
        <menu>
        <menuitem label="Solicitação Marketing">
            <action>MarketingBriefingFormList</action>
            <icon>fas:camera fa-fw</icon> 
        </menuitem>
        <menuitem label="Relatório E-Ticket">
            <action>RelatorioTickets</action>
            <icon>fas:chart-bar fa-fw</icon>
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Coordenador">
        <icon>fas:user-cog fa-fw</icon>
        <menu>
        <menuitem label="Relatórios">
            <icon>fas:chart-bar fa-fw</icon>
            <menu>
                <menuitem label="Diário de Classe">
                    <action>RelatorioDiarioClasse</action>
                    <icon>fas:clipboard-check</icon>
                </menuitem>
                <menuitem label="Lançamento de Notas">
                    <action>RelatorioLancamentoNotas</action>
                    <icon>fas:pen-square</icon>
                </menuitem>
            </menu>
        </menuitem>
        <menuitem label="Atividade Complementar">
            <icon>fas:clipboard-list fa-fw</icon>
            <menu>
            <menuitem label="Pendentes">
                <action>AtividadeComplementarPendenteProfessorList</action>
                <icon>fas:clock fa-fw</icon>
            </menuitem>
            <menuitem label="Analisadas">
                <action>AtividadeComplementarAnalisadaProfessorList</action>
                <icon>fas:clipboard-check fa-fw</icon>
            </menuitem>
            <menuitem label="Relatorio">
                <action>AtividadeComplementarRelatorio</action>
                <icon>fas:print fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>       
        <menuitem label="Estágio">
            <icon>fas:briefcase fa-fw</icon>
            <menu>
            <menuitem label="Pendentes">
                <action>EstagioPendenteProfessorList</action>
                <icon>fas:clock fa-fw</icon>
            </menuitem>
            <menuitem label="Analisados">
                <action>EstagioAnalisadoProfessorList</action>
                <icon>fas:clipboard-check fa-fw</icon>
            </menuitem>
            </menu>
        </menuitem>
        <!-- <menuitem label="Conteúdo Programático">
            <action>ConteudoProgramaticoListCoordenador</action>
            <icon>fas:file-text fa-fw</icon> 
        </menuitem> -->
        <!-- <menuitem label="Relatório Diário de Classe">
            <action>ConteudoDiarioClasseListCoordenador</action>
            <icon>fas:file-text fa-fw</icon> 
        </menuitem> -->
        <menuitem label="Plano de Ensino">
            <action>ProgramaEnsinoDisciplinaListCoordenador</action>
            <icon>fas:book fa-fw</icon>
        </menuitem>
        <menuitem label="Equivalencia">
            <action>EquivalenciaList</action>
            <icon>fas:balance-scale fa-fw</icon>
        </menuitem>
        <menuitem label="Horário">
            <action>HorarioCoordenadorList</action>
            <icon>far:clock fa-fw</icon>
        </menuitem>
        <menuitem label="Solicitação Marketing">
            <action>MarketingBriefingFormList</action>
            <icon>fas:camera fa-fw</icon>
        </menuitem>
        </menu>
    </menuitem>

    <menuitem label='_t{Administration}'>
        <icon>fas:sliders fa-fw</icon>
        <menu>
              <menuitem label='Dashboard'>
                  <icon>fas:tachometer-alt fa-fw</icon>
                  <action>SystemAdministrationDashboard</action>
              </menuitem>
              <menuitem label='_t{Programs}'>
                  <icon>far:file-code fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='_t{Groups}'>
                  <icon>fas:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='_t{Units}'>
                  <icon>fas:university fa-fw</icon>
                  <action>SystemUnitList</action>
              </menuitem>
              <menuitem label='_t{Roles}'>
                  <icon>fas:user-tag fa-fw</icon>
                  <action>SystemRoleList</action>
              </menuitem>
              <menuitem label='_t{Users}'>
                  <icon>fas:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='_t{Page management}'>
                    <icon>fab:wikipedia-w fa-fw</icon>
                    <action>SystemWikiList</action>
              </menuitem>
              <menuitem label='_t{News management}'>
                    <icon>fas:pen-square fa-fw</icon>
                    <action>SystemPostList</action>
              </menuitem>
              <menuitem label='_t{Schedules}'>
                  <icon>fas:clock fa-fw</icon>
                  <action>SystemScheduleList#method=onReload</action>
              </menuitem>
              <menuitem label='_t{Preferences}'>
                  <icon>fas:cog fa-fw</icon>
                  <action>SystemPreferenceForm#method=onEdit</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logs'>
        <icon>fas:desktop fa-fw</icon>
        <menu>
              <menuitem label='Dashboard'>
                  <icon>fas:tachometer-alt fa-fw</icon>
                  <action>SystemLogDashboard</action>
              </menuitem>
              <menuitem label='_t{Access Log}'>
                  <icon>fas:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='_t{Change Log}'>
                  <icon>fas:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='_t{SQL Log}'>
                  <icon>fas:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
              <menuitem label='_t{Request Log}'>
                  <icon>fas:globe fa-fw</icon>
                  <action>SystemRequestLogList</action>
              </menuitem>
              <menuitem label='_t{Schedules}'>
                  <icon>fas:clock fa-fw</icon>
                  <action>SystemScheduleLogList</action>
              </menuitem>
              <menuitem label='_t{PHP Log}'>
                  <icon>fas:exclamation-triangle fa-fw</icon>
                  <action>SystemPHPErrorLogView</action>
              </menuitem>
              <menuitem label='Session vars'>
                  <icon>fas:code fa-fw</icon>
                  <action>SystemSessionVarsView</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
    
</menu>
